SOHABLOG_DATABASE_URL=mysql://root:1234321@127.0.0.1:3306/sohablog
SOHABLOG_UPLOAD_DIR=upload/

ROCKET_ADDRESS=127.0.0.1
ROCKET_PORT=8000
ROCKET_ENV=production # or development/staging
ROCKET_SECRET_KEY=6SPT6MjuStA3SGa+hhZqTPXcwD89nOkBYau/bwBAUrk= # UNSAFE! This can be generated with `openssl rand -base64 32`
ROCKET_LIMITS={forms=2097152}
