<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% block title %}SohaBlog{% endblock %}</title>
{% block meta %}{% endblock %}
{% block stylesheet %}{% endblock %}
	</head>
	<body>
{% block main %}{% endblock %}
{% block script %}{% endblock %}
	</body>
</html>
