{% extends "theme/basic/base" %}

{% block title %}{{post.title|default(value="Untitled")}} | {{super()}}{% endblock %}

{% block main %}
	<h1>{{post.title|default(value="Untitled")}}</h1>
	<p><small>{{post.time|date}}</small></p>
	<article>
		{{post.content|safe|markdown}}
	</article>
	{# <hr>
	{{post|json_encode}} #}
{% endblock %}
