@use super::super::base;
@use super::super::misc::csrf_hidden_input;
@use crate::render::*;

@(ctx: &TemplateContext, message: Option<String>, username: Option<String>)

@:base(ctx, "Login", {}, {}, {
	<h1>Login</h1>
	@if let Some(message) = message {
		<div style="border: 1px solid red;">
			<p>@message</p>
		</div>
	}
	<form method="POST">
		@:csrf_hidden_input(ctx)
		<input type="text" placeholder="Username" name="username" @if let Some(s) = username {value="@s" }/>
		<br />
		<input type="password" placeholder="Password" name="password" />
		<br />
		<input type="submit" />
	</form>
}, {})
